/* VARS */

$main-font:  Aial, sans-serif;
$main-color: #333;
$bg-color: #000099;
$dark-bg-color: #000;
$light-bg-color: #efefef;
$text-color: #fff;
$large-text: 1.3em;
$xlarge-text: 1.4em;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* GLOBAL */

body {
  background: $light-bg-color;
}

.container{
  background: #fff;
  padding: 0 30px;
  width:100%;
}

h1{
  background:$dark-bg-color;
  color: $text-color;
  padding: 20px;
}

#footer{
  margin-top:30px;
  background:$dark-bg-color;
  height: 20px;
}

/* LOGIN / REG */

.user-form{
  background: $light-bg-color;
  padding: 30px 20px;
}

.btn.custom-btn  {
  @include border-radius(10px);
  background:$bg-color;
  margin-top:30px;
  a{
	color: $text-color;
  }
}

/* SHOW LIST */

table tr td:nth-child(1), th{
  font-size:$large-text;
}

.showNum{
  font-weight:bold;
  font-size:$xlarge-text;
}